@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #43494e;
  color: white;
  font-family: 'Archivo', sans-serif;
/*  font-family: 'Patua One', cursive;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Expense {
	color: orangered;
}

.Income {
	color: limegreen;
}
.jumbotron{
	background-color: #43494e;
}
.dropdown-menu{
	background-color: #3e444a;	
}
.dropdown-item:hover{
	background-color: #43494e;
}
tr > .btn{
	margin: 1.2%;
}
h1{
	margin-top: 1em;
}
img{
  max-height: 47vh;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 0.5rem solid #9a9da0;
}
h4{
  color: white;
  background-color: #43494e;
}